@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.data-list {
    font-family: 'Syne', sans-serif;

    h2 {
        color: #174288;
        margin-bottom: 20px;
    }

    .list-group-item {
        background-color: #FFFFFF;
        border: 1px solid #DEE2E6;
        border-radius: 8px;
        margin-bottom: 10px;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

        h3 {
            color: #174288;
            margin-bottom: 10px;
        }

        p {
            color: #6c757d;
            margin: 5px 0;
        }
    }
}

@media (max-width: 767px) {
    .data-list {
        padding: 0 15px;

        .list-group-item {
            padding: 15px;
        }
    }
}
