.historial-pedidos {
    margin-top: 40px;

    h2 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .ant-collapse-header {
        font-weight: bold;
    }

    .option-group {
        margin-bottom: 15px;
    }
}
