@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

.home {
  font-family: "Syne", sans-serif;
  background-color: #dee2e6;
  color: #174288;
  padding: 50px 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 50px auto;
  text-align: center;  

  h1 {
    font-size: 2.5rem;
    color: #174288;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 20px;
  }

  .home-logo {
    width: 400px;  
    height: auto;
    margin-top: 20px;
  }

  @media (max-width: 767px) {
    padding: 30px 10px;

    h1 {
      font-size: 2rem;
    }

    .home-logo {
      width: 400px;  
    }
  }
}
