@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.home {
    font-family: 'Syne', sans-serif;
    background-color: #DEE2E6;
    color: #174288;
    padding: 50px 20px;

    h1 {
        font-size: 2.5rem;
        color: #174288;
    }

    @media (max-width: 767px) {
        padding: 30px 10px;

        h1 {
            font-size: 2rem;
        }
    }
}
