@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap');

.layout {
    font-family: 'Syne', sans-serif;
    min-height: 100vh;
    background-color: #FFFFFF;

    .main-content {
        flex: 1;
        display: flex;
        background-color: #DEE2E6;

        .content {
            flex-grow: 1;
            padding: 15px;
            background-color: #FFFFFF;
        }
    }
}

@media (max-width: 767px) {
    .main-content {
        flex-direction: column;

        .content {
            padding: 10px;
        }
    }

    .sidebar {
        display: none;
    }
}
