@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

.layout {
  font-family: "Syne", sans-serif;
  min-height: 100vh;
  background-color: #ffffff;

  .main-content {
    flex: 1;
    display: flex;
    background-color: #174288;

    .content {
      flex-grow: 1;
      padding: 15px;
      background-color: #ffffff;
      border-radius: 8px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (max-width: 767px) {
  .main-content {
    flex-direction: column;

    .content {
      padding: 10px;
      border-radius: 0;
      box-shadow: none;
    }
  }

  .sidebar {
    display: none;
  }
}
