.menu-page {
  padding: 20px;
}

.custom-button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px; /* Espaciado entre el ícono y el texto */
  background: linear-gradient(90deg, #1890ff, #40a9ff); /* Gradiente de color */
  border: none;
  color: #fff;
  padding: 10px 20px; /* Tamaño más grande para mayor usabilidad */
  border-radius: 6px; /* Bordes redondeados */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  font-size: 16px; /* Tamaño de fuente más grande */
  font-weight: bold; /* Negrita para resaltar el texto */
  transition: background 0.3s ease, transform 0.3s ease; /* Transición suave para el hover */

  &:hover {
    background: linear-gradient(90deg, #40a9ff, #69c0ff); /* Cambio de color en hover */
    transform: translateY(-2px); /* Pequeño levantamiento en hover */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2); /* Resaltado al enfocarse */
  }
}


.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.save-button {
  width: calc(50% - 5px);
  margin-right: 10px;
}

.vertical-buttons,
.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.menu-details {
  .ant-typography {
    margin-top: 20px;
  }
}

.menu-list {
  margin-top: 20px;

  .ant-list-item-actions {
    display: flex;
    gap: 15px; /* Espaciado entre íconos */
    justify-content: center; /* Centramos los íconos horizontalmente */
  }

  .ant-list-item-actions > li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center; /* Centramos los íconos dentro de su contenedor */
  }

  .ant-list-item-actions .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1.25rem; /* Aumenta el tamaño de los íconos */
    transition: color 0.3s ease;

    &:hover {
      color: #00A7E2; /* Cambia el color al hacer hover */
    }
  }

  .menu-title {
    font-weight: bold;
    margin-left: 20px; /* Mueve el nombre del menú hacia la derecha */
    padding: 10px;
    background-color: #f9f9f9; /* Fondo suave detrás del nombre */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    border-radius: 4px; /* Bordes redondeados para suavizar el contenedor */
  }
}

.loading-container {
  text-align: center;
  padding: 50px 0;
}

.menu-title {
  font-weight: bold;
}
