@import url("https://fonts.googleapis.com/css2?family=Syne:wght@400;700&display=swap");

.menu-page {
  padding: 20px;
}

.custom-button {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background: linear-gradient(90deg, #1890ff, #40a9ff);
  border: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 6px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  font-weight: bold;
  transition: background 0.3s ease, transform 0.3s ease;

  &:hover {
    background: linear-gradient(90deg, #40a9ff, #69c0ff);
    transform: translateY(-2px);
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}

.modal-footer {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.save-button {
  width: calc(50% - 5px);
  margin-right: 10px;
}

.vertical-buttons,
.button-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

.menu-details {
  .ant-typography {
    margin-top: 20px;
  }
}

.menu-list {
  margin-top: 20px;

  .ant-list-item-actions {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  .ant-list-item-actions > li {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ant-list-item-actions .ant-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    font-size: 1.25rem;
    transition: color 0.3s ease;

    &:hover {
      color: #00a7e2;
    }
  }

  .menu-title {
    font-weight: bold;
    margin-left: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
}

.loading-container {
  text-align: center;
  padding: 50px 0;
}

.menu-title {
  font-weight: bold;
}
