// src/styles/Pedidos.scss

.pedidos {
    padding: 20px; // Espaciado interno del contenedor principal

    // Estilos para el encabezado h2
    h2 {
        margin-bottom: 20px; // Margen inferior
    }

    // Estilos para la lista no ordenada
    ul {
        list-style: none; // Eliminar el estilo de lista predeterminado
        padding: 0; // Eliminar el relleno predeterminado

        // Estilos para cada ítem de la lista
        li {
            display: flex; // Usar flexbox para la disposición
            align-items: center; // Alinear los elementos verticalmente al centro
            justify-content: space-between; // Espaciar los elementos a ambos extremos
            background-color: #fff; // Fondo blanco
            padding: 10px; // Relleno interno
            margin-bottom: 10px; // Margen inferior
            border-radius: 5px; // Bordes redondeados
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); // Sombra para los ítems

            // Estilos para el botón dentro de los ítems
            button {
                background-color: #007bff; // Color de fondo
                color: #fff; // Color del texto
                border: none; // Sin borde
                padding: 5px 10px; // Relleno interno
                border-radius: 5px; // Bordes redondeados
                cursor: pointer; // Cambiar el cursor al pasar sobre el botón
                transition: background-color 0.3s ease; // Transición suave para el color de fondo

                // Estilos para el estado hover del botón
                &:hover {
                    background-color: #0056b3; // Cambio de color de fondo al pasar el cursor
                }
            }
        }
    }
}
